.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  margin: auto;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: auto;
}

.logo {
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2px;
  width: max(300px, 22vw);
  text-decoration: none;
  color: #000;
  border: #f1f1f1 4px solid;
}

.card > .extra {
  padding: 5px 20px 20px 20px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

.btns > button {
  flex-wrap: wrap;
  border: 1px solid #d8d8d8;
  height: 36px;
  width: 30%;
  padding: 0.3em 0.5em;
  background-color: #ffffff;
  color: #0b5989;
  cursor: pointer;
  transition: color 0.3s ease-in 0s, background-color 0.3s ease-in 0s;
}

.btns > button:hover {
  background-color: #0b5989;
  color: #ffffff;
}

.errContainer {
  background: #f1f5f9;
}

.err {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 35vh 0;
  background: #f1f5f9;
}

.postCard {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px 10px;
  width: 85vw;
  text-decoration: none;
  color: #000;
  border: #f1f1f1 4px solid;
}

.commentWrapper {
  border-bottom: 2px solid #f1f1f1;
  margin: 5px 15px;
  padding: 15px 20px;
}

form {
  margin: 5px 15px;
  padding: 20px;
}

.commentWrapper > .comment {
  color: #595c5b;
}
.commentWrapper > .author {
  font-weight: bold;
  margin-right: 10px;
  color: #0056af;
}

.caption {
  margin: 20px;
}

input,
input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #f1f1f1;
  width: 100%;
  padding: 10px;
}

.postBtns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.postBtn {
  display: block;
  width: 90% !important;
}

.wh {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.whItemMain {
  color: #0b5989;
  position: absolute;
  font-size: 120px;
  top: 15%;
}

.whItem {
  color: #0b5989;
  position: absolute;
  font-size: 30vw;
  top: 12vw;
}

a:hover {
  color: white;
}

@media only screen and (min-width: 1400px) {
  .whItemMain {
    top: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .err {
    width: 50vw;
    height: auto;
    margin: auto;
    padding: 20vh 0;
  }
}

@media only screen and (min-width: 770px) {
  .postCard {
    flex-direction: row;
    width: max(500px, 70vw);
  }
  .postImg {
    width: 35vw;
  }
  .postBtns {
    flex-direction: row;
    /* width: ; */
  }
  .postBtn {
    width: 45% !important;
  }
  .whItem {
    font-size: 16vw;
    top: 5vw;
  }
}
